* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 0 5px;
}

.country {
  max-width: 950px;
  text-align: center;
  margin: 40px auto 40px;
  padding: 0 10px;
}

.country__flag {
  height: 250px;
  margin-bottom: 20px;
}

.country__coatofarms {
  height: 250px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.country h1 {
  color: darkblue;
  color: rgb(73, 73, 206);
  margin-bottom: 30px;
}

.country table {
  width: 100%;
  text-align: left;
}
.country td {
  font-size: 20px;
  line-height: 40px;
  padding-left: 5px;
}

.country tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.country td:first-child {
  width: 30%;
}

@media screen and (max-width: 520px) {
  .country__flag {
    width: 400px;
    height: auto;
  }
  .country__coatofarms {
    height: 250px;
  }
  .country td {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 420px) {
  .country__flag {
    width: 300px;
  }
  .country__coatofarms {
    height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .country__flag {
    width: 250px;
  }
}
