* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.country {
  max-width: 950px;
  text-align: center;
  margin: 40px auto 40px;
  padding: 0 10px;
}

.country__flag {
  height: 250px;
  margin-bottom: 20px;
}

.country__coatofarms {
  height: 250px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.country h1 {
  color: darkblue;
  color: rgb(73, 73, 206);
  margin-bottom: 30px;
}

.quiz {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 800px;
  margin: 0 auto;
}

.quiz-counter {
  display: flex;
  gap: 20px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 40px;
}

.quiz-counter span {
  color: #fff;
  text-align: center;
  width: 150px;
  border-radius: 5px;
}

.dnd {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 10px;
}

.dnd img {
  border: 2px solid gray;
  width: 100%;
  height: 100px;
}

.dnd-column {
  width: 190px;
}

@media screen and (max-width: 850px) {
  .quiz {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .quiz {
    flex-direction: column;
    width: 400px;
  }

  .quiz-counter {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 520px) {
  .country__flag {
    width: 400px;
    height: auto;
  }
  .country__coatofarms {
    height: 250px;
  }

  .quiz {
    width: 350px;
  }
  .quiz img {
    height: 150px;
    width: 300px;
    margin: 0 auto;
  }
  .quiz-counter {
    margin: 0px 5px 20px;
  }
}

@media screen and (max-width: 420px) {
  .country__flag {
    width: 300px;
  }
  .country__coatofarms {
    height: 200px;
  }
  .quiz {
    width: 300px;
  }
  .dnd {
    width: 300px;
  }
  .dnd-column {
    width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .country__flag {
    width: 250px;
  }
}
